.catalogue
  &-item
    background-color: $bg-nomal-color
    display: block
    padding: 52px 0


  &-type
    display: block
    color: $sub-color
    font-size: 15px
    text-align: center
    letter-spacing: 6.8px

  &-title
    color: $default-shade
    display: block
    font-family: $serif
    font-size: 2rem
    font-weight: 100
    color: $basic-color
    line-height: 1.7
    text-align: center
    padding-top: 16px

  &-subtitle
    display: block
    color: $sub-color
    font-size: 13px
    text-align: center
    line-height: 1.7
    padding-top: 20px
