<!DOCTYPE html>
<html lang="ko-kr">

  {% include head.html %}

  <body>
    {% assign current = page.url | downcase | split: '/' %}
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h5 class="nav-title">{{ site.title }}</h5>
        </a>
        <ul>
          <li>
            <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "blog" %} class="normal" {% endif %} class="active">blog</a>
          </li>
          <li>
            <a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1] == "about" %} class="active"{% endif %} >about</a>
          </li>
        </ul>
    </div>
  </nav>
</div>
  <main>
    {{ content }}
  </main>
  </body>
</html>
